<div class="container">
	<br><br>

	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          {{textarea id="textarea1" class="materialize-textarea" type="text" value=concepto.descripcion}}
          <label for="textarea1">Descripción</label>
        </div>
      </div>
    </form>
  </div>

	<div class="row">
        <div class="input-field col s12">
          <label for="catidad">Cantidad</label>
          {{input id="cantidad" type="number" value=concepto.cantidad}}
        </div>
      </div>

	<div class="row">
        <div class="input-field col s12">
          <label for="precio">Precio</label>
          {{input id="precio" type="number" value=concepto.precio}}
        </div>
      </div>

	<div class="row">
        <div class="input-field col s12">
          <label for="desc">Descuento</label>
          {{input id="desc" type="number" value=concepto.descuento}}
        </div>
      </div>

	<label for="importe">Importe</label>
	<div class="row">
        <div class="input-field col s12">
          	{{concepto.importe}}
        </div>
      </div>

	<label for="total">Total</label>
	<div class="row">
        <div class="input-field col s12">
          	{{concepto.total}}
        </div>
      </div>

</div>
