<div class="container">

    {{#link-to 'nueva-factura'}}
      Crear Factura
    {{/link-to}}

    <br><br>

    <table class="striped centered">
      <thead>
        <tr>
          <th>Serie</th>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Subtotal</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>

        {{#each model as |factura|}}
          <tr>
            <td>{{factura.serie}}</td>
            <td>{{factura.folio}}</td>
            <td>{{factura.fecha}}</td>
            <td>{{factura.subtotal}}</td>
            <td>{{factura.total}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  
</div>
